@font-face {
    font-family: "Lato";
    src: url("../../public/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
    font-family: "Bebas_Neue";
    src: url("../../public/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}